.shadowing--model{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.75);
}

.gallery--model-img {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
  }

  .hide{
    display: none;
  }
  .block{
    height:300px;
    text-align: center;
    margin: 180px auto;

    // .block:before{
    //   content: '/200B';
    //   display: inline-block;
    //   height: 100%;
    //   vertical-align: middle;
    // }
  }